@media (min-width: 640px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 700px) minmax(20px, 1fr);
    }

    .app-header .hero {
        position: absolute;
        top: 5rem;
        left: 4rem;
    }

    .country-preview {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1140px) {
    .main-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);
    }
}