.neighbor-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 1.5rem;
    list-style-type: none;
    padding: 2rem;
}

.neighbor-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: purple;
}

.neighbor-list li img {
    width: 30px;
}