.neighbor-list {
    display: grid;
    gap: 10px;
    list-style-type: none;
}

.neighbor-list li{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: max-content;
    color: purple;
}

.neighbor-list li img {
    width: 30px;
}